body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.site_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1920px;
  @media (max-width: 1920px) {
    width: 100vw;
  }
}
.container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1920px) {
    width: 1140px;
  }
  @media (max-width: 1600px) {
    width: 75%;
  }
}
