@font-face {
  font-family: 'RotondaC';
  src: url('~assets/fonts/RotondaC.eot');
  src: local('RotondaC'),
  url('~assets/fonts/RotondaC.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/RotondaC.woff') format('woff'),
  url('~assets/fonts/RotondaC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RotondaC';
  src: url('~assets/fonts/RotondaC-Bold.eot');
  src: local('RotondaC Bold'), local('RotondaC-Bold'),
  url('~assets/fonts/RotondaC-Bold.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/RotondaC-Bold.woff') format('woff'),
  url('~assets/fonts/RotondaC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-Bold';
  src: url(~assets/fonts/Manrope-Bold.eot);
  src: url(~assets/fonts/Manrope-Bold.eot?#iefix) format('embedded-opentype'),
  url(~assets/fonts/Manrope-Bold.woff) format('woff'),
  url(~assets/fonts/Manrope-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Manrope-Regular';
  src: url(~assets/fonts/Manrope-Regular.eot);
  src: url(~assets/fonts/Manrope-Regular.eot?#iefix) format('embedded-opentype'),
  url(~assets/fonts/Manrope-Regular.woff) format('woff'),
  url(~assets/fonts/Manrope-Regular.woff2) format('woff2');
}
