.gift {
    background-image: url('~assets/images/background_gifts.png');
    background-position: center top;
    background-repeat: no-repeat;
    width: 1920px;
    min-height: 1300px;
    margin-top: 50px;
    z-index: -1;
    opacity: 1;
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
    transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1920px) {
        width: 100vw;
    }
    &-wrapper {
        width: 995px;
        margin: 175px 0 0 calc(1920px/2 - 995px/2 - 390px);
        @media (max-width: 1920px) {
            margin: 175px 0 0 calc(50vw - 995px/2 - 390px);
        }
        @media (max-width: 1600px) {
            margin: 175px 0 0 calc(50vw - 995px/2 - 230px);
        }
        @media (max-width: 1280px) {
            margin: 175px 0 0 calc(50vw - 995px/2 - 80px);
        }
        @media (max-width: 1280px) {
            margin: 175px 0 0 calc(50vw - 995px/2 + 60px);
        }
    }
    &-button {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: -740px 500px 0 0;
    }
}