.gift {
    background-image: url('~assets/images/background_gifts.png');
    background-position: 44% top;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 1300px;
    margin-top: 50px;
    z-index: -1;
    opacity: 1;
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
    transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1920px) {
        background-position: 50% top;
    }
    @media (max-width: 1600px) {
        background-position: 35% top;
    }
    @media (max-width: 1280px) {
        background-position: 26% top;
    }
    @media (max-width: 1024px) {
        background-position: left top;
    }
    &-wrapper {
        width: 50%;
        margin: 175px 0 0 215px;

        @media (max-width: 1920px) {
            width: 52%;
            margin: 180px 0 0 85px;
        }
        @media (max-width: 1600px) {
            width: 60%;
            margin: 175px 110px 0 0;
        }
        @media (max-width:1280px) {
            width: 75%;
            margin: 175px 103px 0 0;
        }
        @media (max-width:1024px) {
            width: 95%;
            margin: 175px 55px 0 0;
        }    }
    &-button {
        background: transparent;
        border: none;
        cursor: pointer;
        margin: -740px 500px 0 0;
    }
}