.header {
  position: absolute;
  top: 0;
  height: 92px;
  z-index: 2;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  @media (max-width: 1023px) {
    height: 77px;
  }

  &-wrapper {
    width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 1023px) {
      width: 90%;
      max-width: 430px;
      align-items: flex-start;
    }
  }
  &-address, &-wheretobuy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-address {

    &__logo {
      margin: 0 0 11px 0;
    }
    &__link {
      text-decoration: none;
      font-family: 'Manrope-Regular', Helvetica, Arial, sans-serif;
      font-size: 17px;
      line-height: 22.94px;
      letter-spacing: 0.5px;
      color: #ffffff;
      &:hover {
        color: #fae816;
      }
      @media (max-width: 1023px) {
        display: none;
      }
    }

  }

  &-wheretobuy {
    align-items: center;
    max-width: 150px;
    margin: 0 0 0 200px;
    text-align: center;

    @media (max-width: 1023px) {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      padding: 1px;
      background-color: #d2beae;
      justify-content: center;
      align-items: center;
      margin: 5px 0 0 0;
    }
    @media (max-width: 374px) {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    &__button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0 45px 0 0;
      &:hover .header-wheretobuy__text {
        color: #fae816;
      }
      @media (max-width: 1023px) {
        padding: 0;
      }
    }

    &__icon {
      color: #ffffff;
      font-size: 24px;
      @media (max-width: 1023px) {
        font-size: 15px;
      }
      @media (max-width: 374px) {
        font-size: 10px;
      }
    }

    &__text {
      margin: 10px 0 0 0;
      @include font-Rotonda;
      font-size: 17px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      @media (max-width: 1023px) {
        font-size: 10px;
        margin: 5px 0 0 0;
      }
      @media (max-width: 374px) {
        font-size: 8px;
        margin: 5px 0 0 0;
      }
    }
  }
  &-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 156px;
    @media (max-width: 1023px) {
      width: 110px;
      margin: 10px 0 0 0;
    }

    &__icon {
      color: #ffffff;
      font-size: 24px;
      @media (max-width: 1023px) {
        font-size: 17px;
      }
      &:hover {
        color: #ed1b2f;
        transform: rotate(360deg);
        transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
        cursor: pointer;
      }
    }

    &__wrapper {
      width: 36px;
      height: 36px;
      border-radius: 10px;
      border: none;
      background-color: #d2beae;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1023px) {
        width: 24px;
        height: 24px;
        border-radius: 7px;
      }
    }
  }

  &-icon {
    color: #ffffff;
    font-size: 19px;
    margin: 0 5px 0 0;
  }
}
