.header {
  position: fixed;
  top: 0;
  height: 92px;
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &-address, &-wheretobuy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-address {
    &--logo {
      margin: 0 0 11px 0;
    }
  }

  &-wheretobuy {
    align-items: center;
    max-width: 150px;
    padding: 0 0 15px 130px;
    text-align: center;
  }

  &-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 156px;

    &--icon {
      color: #ffffff;
      font-size: 24px;
    }

    &--wrapper {
      width: 36px;
      height: 36px;
      border-radius: 10px;
      border: none;
      background-color: #d2beae;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-icon {
    color: #ffffff;
    font-size: 19px;
    line-height: 23.94px;
    margin: 0 5px 0 0;
  }

  &-link, &-text {
    font-family: 'Manrope-Regular', Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 17px;
    line-height: 22.94px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin: 0 0 0 0;
  }
    &-link {
      &:hover {
        color: red;
      }
    }
    &-text {
      &:hover {
        color: #29d3d8;
      }
    }
}