.links {
  background-image: url('~assets/images/background_links_v2.png?webp');
  background-position: center top;
  background-repeat: no-repeat;
  width: 1920px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  @media (max-width: 1920px) {
    width: 100vw;
    background-position: center top;
  }
  @media (max-width: 1023px) {
    background-image: url('~assets/mobile/background_links_mobile.png?webp');
    background-position: center top;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 480px;
    height: 923px;
  }

  &-wrapper {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(5, 120px);

    grid-template-areas:
      "opinion instagram ."
      "feedback instagram come"
      "youtube subscribe bgames"
      "youtube learn bgames"
      "wholesale arrows video";
    font-family: 'RotondaC', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin: 120px 0 0 0;
    @media (max-width: 1920px) {
      margin: 120px 0 0 0;
    }
    @media (max-width: 1024px) {
      width: 1000px;
      grid-template-columns: repeat(3, 333px);
    }
    @media (max-width: 1023px) {
      width: 100vw;
      max-width: 480px;
      margin: 100px 0 10px 0;
      display: grid;
      font-size: 17px;
      grid-template-columns: repeat(2, 240px);
      grid-template-rows: 50px repeat(2, 90px) 50px repeat(2, 90px) 50px repeat(2, 90px) 50px;

      grid-template-areas:
      "opinion opinion"
      "youtube feedback"
      "youtube feedback"
      "subscribe subscribe"
      "learn instagram"
      "learn instagram"
      "come come"
      "bgames video"
      "bgames video"
      "wholesale wholesale";
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(2, 50vw);
    }
  }

  &-arrow {
    margin: 35px 0 0 50px;
    @media (max-width: 1024px) {
      margin: 10px 0 0 50px;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      @media (max-width: 1023px) {
        width: 100px;
        height: 34px;
      }
    }

    &__wrapper {
      width: 173px;
      height: 173px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 6.709px 4.357px 0 0 rgba(0, 0, 0, 0.09);
      &:hover {
        cursor: pointer;
        box-shadow: none;
        transform: translate(6.709px, 4.357px);
        transition: all 0.5s ease-in-out;
      }
      @media (max-width: 1023px) {
        width: 140px;
        height: 140px;
      }
    }

    &__redcircle {
      width: 138px;
      height: 138px;
      border-radius: 50%;
      background-color: #d02027;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1023px) {
        width: 115px;
        height: 115px;
      }
    }

    &__opinion {
      grid-area: opinion;
      font-size: 25px;
      text-align: right;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @media (max-width: 1023px) {
        align-items: center;
        text-align: center;
        max-width: 100vw;
      }
    }

    &__instagram {
      grid-area: instagram;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @media (max-width: 1023px) {
        align-items: center;
        max-width: 50vw;
      }
    }

    &__come {
      grid-area: come;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @media (max-width: 1023px) {
        max-width: 100vw;
      }
    }

    &__feedback {
      grid-area: feedback;
      text-align: right;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #ffffff;
      @media (max-width: 1023px) {
        text-align: left;
        max-width: 50vw;
        font-size: 17px;
        color: #c2aad8;
      }
    }

    &__youtube {
      grid-area: youtube;
      font-size: 15px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @media (max-width: 1023px) {
        justify-content: center;
        align-items: center;
        max-width: 50vw;
      }

      &:after {
        content: '';
        background-image: url('assets/images/arrow.png?webp');
        width: 130px;
        height: 58px;
        position: absolute;
        transform: rotate(160deg);
        top: -20px;
        right: 100px;
        @media (max-width: 1023px) {
          display: none;
          visibility: hidden;
        }
      }
    }

    &__subscribe {
      grid-area: subscribe;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      text-decoration: none;
      color: #ffffff;
      &:visited, &:active {
        color: #ffffff;
      }
      @media (max-width: 1023px) {
        text-align: center;
        align-items: center;
        max-width: 100vw;
      }

      &:after {
        content: '';
        background-image: url('assets/images/arrow.png?webp');
        width: 130px;
        height: 58px;
        position: absolute;
        transform: rotate(-30deg);
        top: -45px;
        left: 10px;
        @media (max-width: 1023px) {
          display: none;
          visibility: hidden;
        }
      }
    }

    &__learn {
      grid-area: learn;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @media (max-width: 1023px) {
        align-items: center;
        text-align: right;
        max-width: 50vw;
        justify-content: center;
        font-size: 17px;
        color: #c2aad8;
      }
    }

    &__bgames {
      grid-area: bgames;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1023px) {
        max-width: 50vw;
      }
    }

    &__button {
      grid-area: arrows;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: transparent;
      border: none;
      cursor: pointer;
      margin: 0 150px 0 0;
      &:hover {
        transform: scale(1.1) translateY(5px);
        transition: all 0.3s ease-in-out;
      }
      @media (max-width: 1023px) {
        grid-area: unset;
        display: none;
        visibility: hidden;
      }
    }

    &__wholesale {
      grid-area: wholesale;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &:hover p {
        color: #fae816;
      }
    }

    &__video {
      grid-area: video;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      text-decoration: none;
      color: #ffffff;
      &:visited, &:active {
        color: #ffffff;
      }
      @media (max-width: 1023px) {
        max-width: 170px;
        align-items: center;
      }

      &:after {
        content: '';
        background-image: url('assets/images/arrow.png?webp');
        width: 130px;
        height: 58px;
        position: absolute;
        transform: rotate(-30deg);
        top: -70px;
        left: 15px;
        @media (max-width: 1023px) {
          display: none;
          visibility: hidden;
        }
      }
    }

    &__small {
      font-size: 20px;
      text-align: left;
      margin: 10px 0 0 0;
      @media (max-width: 1023px) {
        font-size: 17px;
        color: #c2aad8;
      }
    }

    &__text {
      font-size: 20px;
      font-family: Manrope-Regular, Arial, sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 49px;
      background-color: #d2beae;
      border-radius: 24px;
    }

    &__right {
      transform: rotate(270deg);
      margin: 0 0 0 15px;
      &:hover {
        transform: rotate(270deg) scale(1.1) translateY(5px);
        transition: all 0.3s ease-in-out;
      }
      @media (max-width: 1023px) {
        display: none;
        visibility: hidden;
      }
    }
  }

  &-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 49px;
    height: 49px;
    &:hover {
      transform: rotate(270deg) scale(1.1) translateY(5px);
      transition: all 0.3s ease-in-out;
    }
    @media (max-width: 1023px) {
      display: none;
      visibility: hidden;
    }

    &__right {
      transform: rotate(270deg);
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      width: 170px;
      justify-content: space-between;
      margin: 40px 0 0 15px;
    }
  }

  &-down {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 49px;
    height: 49px;
    display: none;
    visibility: hidden;
    @media (max-width: 1023px) {
      display: block;
      visibility: visible;
    }
  }
}
