.map {
  position: relative;
  background-image: url('~assets/images/background_map_v2.png?webp');
  background-position: center top;
  background-repeat: no-repeat;
  width: 1920px;
  min-height: 3000px;
  opacity: 1;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1920px) {
    width: 100vw;
    min-height: 1080px;
    background-position: center top;
  }
  @media (max-width: 1023px) {
    background-image: url('~assets/mobile/background_map_mobile.png?webp');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #d77aea;
    width: 100vw;
    max-width: 480px;
    min-height: 1350px;
  }
  &-wrapper {
    margin: 200px 0 30px 0;
    width: 900px;
    height: 450px;
    border-radius: 50px;
    overflow: hidden;
    background-image: url('~assets/images/map_replacer.jpg?webp');
    background-size: contain;
    @media (max-width: 1023px) {
      background-image: url('~assets/mobile/map_replacer_mobile.jpg?webp');
      width: 335px;
      height: 685px;
    }
    @media (max-width: 374px) {
      background-image: url('~assets/mobile/map_replacer_se.jpg?webp');
      width: 300px;
      height: 685px;
    }  }
  &-back {
    width: 100vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1023px) {
      margin: 0;
      justify-content: center;
    }

    &__text {
      @include font-desktop;
      font-size: 35px;
      text-align: center;
      color: #d2beae;
      max-width: 350px;
      margin: 0;
      @media (max-width: 1023px) {
        font-size: 30px;
        color: #ffffff;
      }
    }

    &__button {
      background: transparent;
      border: none;
      cursor: pointer;
      width: 65px;
      height: 55px;
      margin: 0 20px 0 20px;
      transform: rotate(180deg);
      &:hover {
        transform: rotate(180deg) scale(1.1) translateY(5px);
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #007acd;
    &__small {
      font-size: 10px;
    }
  }
}
.ymap-container {
  height: 450px;
  z-index: 1;
  @media (max-width: 1023px) {
    width: 335px;
    min-height: 685px;
  }
  @media (max-width: 374px) {
    width: 300px;
  }
}
