.links {
  background-image: url('~assets/images/background_links.png');
  background-position: center top;
  background-repeat: no-repeat;
  width: 1920px;
  min-height: 2000px;
  z-index: -3;
  opacity: 1;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 155px 0 0 0;
  @media (max-width: 1920px) {
    width: 100vw;
  }

  &-wrapper {
    margin: 185px 0 0 100px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 20px;
    grid-auto-flow: row;
    grid-template-areas:
    "opinion instagram come"
    "youtube subscribe bgames";
    font-family: 'RotondaC', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
  }
  &-arrow {
    margin: 35px 0 0 50px;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &--wrapper {
      width: 173px;
      height: 173px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 6.709px 4.357px 0 0 rgba(0, 0, 0, 0.09);
    }
    &--redcircle {
      width: 138px;
      height: 138px;
      border-radius: 50%;
      background-color: #d02027;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--opinion {
      grid-area: opinion;
      font-size: 35px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
    &--instagram {
      grid-area: instagram;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--come {
      grid-area: come;
      font-size: 35px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &--youtube {
      grid-area: youtube;
      font-size: 20px;
      position: relative;
      .arrow {
        position: absolute;
        top: 0;
        right: 0;
      }
      &:after {
        content: '';
        position: absolute;
        background-image: url('~assets/images/arrow.png');
        top: 0;
        right: 0;
      }
    }

    &--bgames {
      grid-area: bgames;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &--video {
      grid-area: video;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &--small {
      font-size: 20px;
      text-align: left;
      margin: 10px 0 0 0;
    }
    &--subscribe {
      grid-area: subscribe;
      font-size: 35px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

