.wheretobuy {
  padding: 25px 10px 35px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &-header {
    @include font-Rotonda;
    font-size: 25px;
    color: #fab449;
    margin: 0 0 25px 0;
  }
  &-title {
    @include font-Rotonda;
    font-size: 18px;
    color: #007acd;
    margin: 0 0 25px 0;
    max-width: 250px;
    text-align: center;
  }
  &-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-row-gap: 25px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  &-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    &--link {
      font-family: 'Manrope-Regular', Helvetica, Arial, sans-serif;
      font-size: 18px;
      color: #007acd;
      text-decoration: none;
    }
  }
  &-image {
    border-radius: 50%;
    box-shadow: 6.709px 4.357px 3px 0 rgba(0, 0, 0, 0.15);
    margin: 0 0 10px 0;
  }
  &-close {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: #007acd;
  }
  &-modal {
    @media (max-width: 768px) {
      width: 90vw;
      left: calc(50vw - 240px) !important;
      max-width: 480px;
    }
    @media (max-width: 480px) {
      left: 0 !important;
    }
  }
}