.microscope {
  background-image: url('~assets/images/background_microscope.png');
  background-position: 41.4% top;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 1300px;
  z-index: -3;
  opacity: 1;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -33px 0 0 0;
  @media (max-width: 1920px) {
    background-position: 35.6% top;
  }
  @media (max-width: 1600px) {
    background-position: 32.15% top;
  }
  @media (max-width: 1280px) {
    background-position: -45% top;
  }
  @media (max-width: 1024px) {
    background-position: 81.5% top;
  }
  &-text {
    font-family: 'Ruda-Bold', 'Arial Rounded MT Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #d2beae;
  }

  &-icon {
    margin: 0 0 0 100px;
  }

  &-wrapper {
    &--img {
      margin: 140px 160px 0 0;
      width: 1050px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1920px) {
        margin: 140px 100px 0 0;
      }
      @media (max-width: 1280px) {
        margin: 140px 102px 0 0;
      }
      @media (max-width: 1024px) {
        margin: 140px 30px 0 0;
        width: 1000px;
      }
    }

    &--items {
      margin: -200px 0 0 0;
      display: grid;
      width: 1050px;
      grid-template-columns: repeat(5, 1fr);
      @media (max-width: 1024px) {
        width: 1000px;
      }
    }

    &--wrapper {
      margin: 0 0 0 -160px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &-item {
    border-radius: 50%;
    box-shadow: 6.709px 4.357px 0px 0px rgba(0, 0, 0, 0.09);
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Ruda-Bold', 'Arial Rounded MT Bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;

    &--small {
      font-size: 12px;
    }

    &--microscope {
      background-color: rgb(57, 170, 205);
    }
    &--science {
      background-color: rgb(54, 177, 194);
    }
    &--digger {
      background-color: rgb(50, 176, 166);
    }
    &--entertainment {
      background-color: rgb(47, 167, 144);
    }
    &--magic {
      background-color: rgb(42, 156, 102);
    }
  }
}

