.newyear {
  background-image: url('~assets/images/background_newyear.png');
  background-position: 50px top;
  background-repeat: no-repeat;
  width: 1920px;
  min-height: 700px;
  margin: 139.45px 0 0 0;
  //margin: 140.45px 0 0 0;
  z-index: -2;
  opacity: 1;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1920px) {
    width: 100vw;
    margin: -23px 0 0 0;
    background-position: center top;
  }

  &-title {
    padding: 90px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--title, &--subtitle {
      font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
      font-weight: bold;
      color: #ffffff;
      text-transform: uppercase;
      margin: 0 25px 0 25px;
    }
    &--title {
      font-size: 42px;
    }
    &--subtitle {
      font-size: 21px;
      width: 450px;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 950px;
    margin: 20px 0 0 0;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--text {
      color: #ffffff;
      font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 13px;
      text-transform: uppercase;
      text-align: center;
      max-width: 200px;
      margin: 10px 0 10px 0;
    }
  }
}