.slider {
  background-image: url('~assets/images/background_slider.png');
  background-position: center top;
  background-repeat: no-repeat;
  width: 1920px;
  height: 697px;
  margin: -1px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media (max-width: 1920px) {
    width: 100vw;
    background-position: center top;
  }
  @media (max-width: 1024px) {
    background-position: center top;
  }
  @media (max-width: 1023px) {
    background-image: none;
    width: 100%;
    max-width: 480px;
    min-height: 796px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 374px) {
    min-height: 700px;
  }
  &-image {
    @media (max-width: 374px) {
      width: 320px;
      height: 370px;
    }
  }
  &-wrapper {
    width: 678px;
    margin: 115px 400px 0 0;
    @media (max-width: 1920px) {
    }
    @media (max-width: 1023px) {
      width: 100%;
      max-width: 480px;
      margin: 70px 0 0 0;
    }
  }

  &-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 49px;
    height: 49px;
    &__text {
      font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
      font-weight: bold;
      font-size: 35px;
      text-transform: uppercase;
      text-align: left;
      color: #d2beae;
      margin: 0 0 15px 0;
      width: 330px;
      @media (max-width: 1023px) {
        width: 255px;
        margin: 0;
      }
      @media (max-width: 374px) {
        font-size: 27px;
      }
    }
    &__right {
      transform: rotate(-90deg);
      &:hover {
        transform: rotate(-90deg) scale(1.1) translateY(5px);
        transition: all 0.3s ease-in-out;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      top: 400px;
      right:  360px;
      @media (max-width: 1920px) {
        right:  calc(50vw - 500px);
      }
      @media (max-width: 1023px) {
        position: unset;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        max-width: 480px;
        margin: 15px 0 0 0;
      }
      @media (max-width: 374px) {
        height: 62px;
      }
    }
  }
}