@import "normalize";
@import "variables";
@import "swiper";
@import "pagination";
@import "navigation";
@import "fonts";
@import "common";
@import "header";
@import "title";
@import "slider";
@import "knowledge";
@import "microscope";
@import "mosaic";
@import "constructor";
@import "evamoda";
@import "tablegames";
@import "gift";
@import "newyear";
@import "teachers";
@import "links";