@import "./normalize";
@import "./variables";
@import "./mixins";
@import "./swiper";
@import "./fonts";
@import "./common";
@import "constructor";
@import "evamoda";
@import "gift";
@import "header";
@import "know";
@import "links";
@import "map";
@import "microscope";
@import "mosaic";
@import "newyear";
@import "slider";
@import "tablegames";
@import "teachers";
@import "ideas";
@import "20gifts";
@import "title";
@import "modal";
