.tablegames {
  background-image: url('~assets/images/background_tablegames.png');
  background-position: center top;
  background-repeat: no-repeat;
  width: 1920px;
  z-index: -3;
  opacity: 1;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 0;
  @media (max-width: 1920px) {
    width: 100vw;
  }

  &-text {
    font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    color: #d2beae;
    max-width: 300px;
    margin: 0;
    &--small {
      font-size: 17px;
    }
  }

  &-icon {
    margin: 0 0 0 100px;
  }

  &-wrapper {
    &--img {
      margin: 62px 0 0 calc(1920px/2 - 870px/2 - 647px);
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1920px) {
        margin: 62px 0 0 calc(50vw - 870px/2 - 647px);
      }
      @media (max-width: 1600px) {
        margin: 62px 0 0 calc(50vw - 870px/2 - 487px);
      }
      @media (max-width: 1280px) {
        margin: 62px 0 0 calc(50vw - 870px/2 - 325px);
      }
      @media (max-width: 1024px) {
        margin: 62px 0 0 calc(50vw - 870px/2 - 200px);
      }
    }

    &--items {
      margin: -50px 0 0 0;
      display: grid;
      width: 1050px;
      grid-template-columns: repeat(5, 1fr);
      @media (max-width: 1024px) {
        width: 1000px;
      }
    }

    &--wrapper {
      margin: 120px 0 0 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &-item {
    border-radius: 50%;
    box-shadow: 6.709px 4.357px 0px 0px rgba(0, 0, 0, 0.09);
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;

    &--small {
      font-size: 15px;
    }

    &--antistress {
      background-color: #2c9c75;
    }
    &--transport {
      background-color: #32b3ad;
    }
    &--rolegames {
      background-color: #35b2bd;
    }
    &--dolls {
      background-color: #37b0c4;
    }
    &--newborn {
      background-color: #79dbea;
    }
  }
}

