.teachers {
  background-image: url('~assets/images/background_teachers.png');
  background-position: center top;
  background-repeat: no-repeat;
  width: 1920px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1920px) {
    width: 100vw;
    background-position: center top;
  }
  @media (max-width: 1023px) {
    background-image: url('~assets/mobile/background_teachers_mobile.png');
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 480px;
    height: 801px;
  }
  &-button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: -20px 150px 0 0;
    &:hover {
      transform: scale(1.1) translateY(5px);
      transition: all 0.3s ease-in-out;
    }
      @media (max-width: 1023px) {
        display: block;
        visibility: visible;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: -5px 0 0 0;
        width: 49px;
        height: 49px;
      }
    }
  &-usefull {
    margin: 200px 25vw 0 0;
    @media (max-width: 1023px) {
      margin: 410px 0 0 0;
    }
    &__arrow {
      @media (max-width: 1023px) {
        display: none;
        visibility: hidden;
      }
    }
    &__text {
      @include font-Rotonda;
      font-size: 35px;
      text-align: left;
      color: #d2beae;
      max-width: 300px;
      margin: 0;
      @media (max-width: 1023px) {
        text-align: center;
        font-size: 30px;
      }
    }
  }
  &-items {
    margin: 145px 0 0 0;
    display: grid;
    grid-template-columns: repeat(5, 170px);
    grid-column-gap: 30px;
    position: relative;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
      width: 90%;
      max-width: 375px;
      margin: 10px;
    }
    &__item {
      border-radius: 50%;
      box-shadow: 6.709px 4.357px 3px 0 rgba(0, 0, 0, 0.15);
      width: 170px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #ffffff;
      @include font-desktop;
      &:hover {
        cursor: pointer;
        box-shadow: none;
        transform: translate(6.709px, 4.357px);
        transition: all 0.3s ease-in-out;
      }
      @media (max-width: 1023px) {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        @include font-mobile;
        flex-direction: row;
      }
    }
    &__large {
      font-size: 25px;
      @media (max-width: 1023px) {
        font-size: 15px;
      }
    }
    &__mobile {
      display: none;
      visibility: hidden;
      @media (max-width: 1023px) {
        font-size: 15px;
        display: inline;
        visibility: visible;
        margin: 0 0 3px 10px;
      }
    }
    &__nomobile {
      @media (max-width: 1023px) {
        display: none;
        visibility: hidden;
      }
    }
    &__speech {
      background-color: #39aacd;
    }
    &__discovery {
      background-color: #36b1c2;
    }
    &__art {
      background-color: #32b0a6;
    }
    &__social {
      background-color: #2fa790;
    }
    &__catalog {
      background-color: #be0000;
    }
    &__download {
      position: absolute;
      bottom: 140px;
      right: 0;
      width: 49px;
      height: 49px;
      background: transparent;
      border: none;
      &:hover {
        transform: scale(1.1) translateY(5px);
        transition: all 0.3s ease-in-out;
      }
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}