.teachers {
  background-image: url('~assets/images/background_teachers.png');
  background-position: 50px top;
  background-repeat: no-repeat;
  width: 1920px;
  z-index: -3;
  opacity: 1;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  @media (max-width: 1920px) {
    width: 100vw;
    background-position: center top;
  }
  &-text {
    font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    color: #d2beae;
    max-width: 300px;
    margin: 0;
    &--small {
      font-size: 17px;
    }
  }

  &-icon {
    margin: 0 0 0 100px;
  }

  &-wrapper {
    &--img {
      margin: 140px 160px 0 0;
      width: 1050px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1920px) {
        margin: 105px 50px 0 0;
      }
      @media (max-width: 1280px) {
        margin: 140px 102px 0 0;
      }
      @media (max-width: 1024px) {
        margin: 140px 30px 0 0;
        width: 1000px;
      }
    }

    &--items {
      margin: -150px 0 0 0;
      display: grid;
      grid-template-columns: repeat(5, 170px);
      grid-column-gap: 30px;
    }

    &--wrapper {
      margin: 0 -120px 150px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &-item {
    border-radius: 50%;
    box-shadow: 6.709px 4.357px 0px 0px rgba(0, 0, 0, 0.09);
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;

    &--large {
      font-size: 20px;
    }

    &--speech {
      background-color: #39aacd;
    }
    &--discovery {
      background-color: #36b1c2;
    }
    &--art {
      background-color: #32b0a6;
    }
    &--social {
      background-color: #2fa790;
    }
    &--catalog {
      background-color: #be0000;
    }
  }
  &-download {
    margin: -190px 0 0 940px;
  }
}

