.title {
  background: url('~assets/images/background_title.png') center top no-repeat;
  width: 100vw;
  min-height: 700px;
  &-img {
    margin: 138px 0 0 calc(50vw - 960px + 617px);
  }
  &-benefit {
    width: 218px;
    height: 71px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;

    &--img {
      fill: #ffffff;
      max-width: 38px;
      max-height: 39px;
      transform: rotate(180deg);
    }

    &--textbox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 0 0 15px;
    }

    &--text, &--litera {
      color: #ffffff;
      font-family: 'Ruda-Bold', 'Arial Rounded MT Bold', sans-serif;
      text-transform: uppercase;
      margin: 0;
    }

    &--text {
      font-size: 13px;
    }

    &--litera {
      font-size: 25px;
    }

    &--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: -100px 0 0 0;
      width: 100%;
    }

    &--orange {
      background: linear-gradient(90deg, rgba(252,118,24,1) 0%, rgba(254,175,34,1) 100%);
    }

    &--cyan {
      background: linear-gradient(90deg, rgba(0,193,196,1) 0%, rgba(81,189,190,1) 100%);
      position: relative;

      &:before {
        content: '';
        //background: #07aea8;
        background: rgba(7, 174, 168, 1);
        //background: url('~assets/images/title_ellipse.png');
        width: 146px;
        height: 146px;
        border-radius: 73px;
        display: block;
        position: absolute;
        top: -80px;
        left: -20px;
        z-index: -1;
        opacity: 1;
      }
    }

    &--magenta {
      background: linear-gradient(90deg, rgba(146,53,224,1) 0%, rgba(152,91,234,1) 100%);
    }
}
  &-learnmore {
    width: 489px;
    height: 49px;
    background-color: #d2beae;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
    }
    &--text {
      font-size: 24px;
      font-family: Manrope-Regular, Arial, sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 26px;
      text-align: center;
    }
    &--icon {
      margin: 30px 150px 0 0;
    }

  }
}