.title {
  background-image: url('~assets/images/background_title.png');
  background-position: 50px top;
  background-repeat: no-repeat;
  width: 1920px;
  min-height: 700px;
  @media (max-width: 1920px) {
    width: 100vw;
    background-position: left top;
  }
  @media (max-width: 1600px) {
    background-position: -160px top;
  }
  @media (max-width: 1440px) {
    background-position: -240px top;
  }
  @media (max-width: 1280px) {
    background-position: -320px top;
  }
  @media (max-width: 1024px) {
    background-position: -450px top;
  }
  &-img {
    margin: 138px 0 0 calc(1920px/2 - 350px);
    @media (max-width: 1920px) {
      margin: 138px 0 0 calc(50vw - 400px);
    }
    @media (max-width: 1600px) {
      margin: 138px 0 0 calc(50vw - 400px);
    }
    @media (max-width: 1440px) {
      margin: 138px 0 0 calc(50vw - 400px);
    }
    @media (max-width: 1280px) {
      margin: 138px 0 0 calc(50vw - 400px);
    }
    @media (max-width: 1024px) {
      margin: 138px 0 0 calc(50vw - 403px);
    }
  }
  &-benefit {
    width: 218px;
    height: 71px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;

    &--img {
      fill: #ffffff;
      max-width: 38px;
      max-height: 39px;
      transform: rotate(180deg);
    }

    &--textbox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 0 0 15px;
    }

    &--text, &--litera {
      color: #ffffff;
      font-family: 'RotondaC', 'Arial Rounded MT Bold', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    &--text {
      font-size: 13px;
    }

    &--litera {
      font-size: 25px;
    }

    &--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: -100px 0 0 0;
      width: 100%;
      position: relative;
    }

    &--orange {
      background: linear-gradient(90deg, rgba(252,118,24,1) 0%, rgba(254,175,34,1) 100%);
    }

    &--cyan {
      background: linear-gradient(90deg, rgba(0,193,196,1) 0%, rgba(81,189,190,1) 100%);
      z-index: 1;
    }

    &--magenta {
      background: linear-gradient(90deg, rgba(146,53,224,1) 0%, rgba(152,91,234,1) 100%);
    }
}
  &-learnmore {
    width: 489px;
    height: 49px;
    background-color: #d2beae;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
    &--text {
      font-size: 24px;
      font-family: Manrope-Regular, Arial, sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 26px;
      text-align: center;
    }
    &--icon {
      margin: 30px 150px 0 0;
    }

  }
}